<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exibição de Nome e Frase</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Title</h2>
        <p>@ViewBag.Frase</p>
    </div>
</body>
</html>