@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Tecnics</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .centered-content {
            display: flex;
            justify-content: center;
            align-items: flex-start; 
            height: 85vh;
            text-align: center;
            background-image: url('/imagens/motoresEletricos.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

            .centered-content div {
                margin-top: 20px;
            }

            .centered-content h1 {
                font-size: 3em;
                color: #fff;
            }

            .centered-content p {
                font-size: 1.5em;
                color: #fff;
            }
    </style>
</head>
<body>
    <div class="centered-content">
        <div>
            <h1>Tecnics</h1>
            <p>Tecnics é uma empresa com foco em entregar um software de qualidade, alta precisão e baixa latência para todos os nossos clientes do ramo fabricação de motores elétricos!!</p>
        </div>
    </div>
</body>
</html>
