@{
	ViewData["Title"] = "Sobre";
}
<link rel="stylesheet" href="~/css/home.css" />
<div class="container text-center">
	<h1>Developers</h1>
	<p>Projeto desenvolvido por: </p>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<p><strong>Danilo Miranda</strong></p>
			<p><strong>RA:081220000</strong></p><br>
			<img src="~/imagens/danilo.png" alt="picture" class="img-responsive cima"><br>
		</div>
		<div class="col-sm-4">
			<p><strong>Hugo Victor</strong></p>
			<p><strong>RA:081220009</strong></p><br>
			<img src="~/imagens/hugo1.png" alt="picture" class="img-responsive cima"><br>
		</div>
		<div class="col-sm-4">
			<p><strong>Matheus Martins</strong></p>
			<p><strong>RA:081220000</strong></p><br>
			<img src="~/imagens/martins.png" alt="picture" class="img-responsive cima"><br>
		</div>
		<div class="col-sm-4">
			<p><strong>Matheus Pedroza</strong></p>
			<p><strong>RA:081220000</strong></p><br>
			<img src="~/imagens/pedroza.png" alt="picture" class="img-responsive cima"><br>
		</div>
		<br>
		<div class="col-sm-4">
			<p><strong>Thiago Cicero</strong></p>
			<p><strong>RA:081220013</strong></p><br>
			<img src="~/imagens/thiago.png" alt="picture" class="img-responsive cima"><br>
		</div>
	</div>
	<div class="row row_bottom custom-center">
		<div class="col-sm-4">
			<p><strong>Sistema de gerenciamento de dispositivos que fazem o monitoramento da temperatura em estufas de frabricação de motores,
				desenvolvido em ASP.NET 3.1, para o PBL do curso de Engenharia de Computação do 5 semestre, para as matérias de Linguagem de programação, 
				Automação e controle, Sistemas embarcados e Mecânica dos fluidos lecionadas respectivamente pelos professores Eduardo Rosalem, Marcones, 
				Fabio Cabrini e Ricardo Calvo.</strong></p>
		</div>
	</div>
</div>

<style>

	.custom-center {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin-top: 10%;
		height: 100vh; /* Altera a altura conforme necessário */
	}

	.col-sm-4 {
		text-align: center;
	}
	img {
		max-width: 300px;
		max-height: 250px;
		width: auto;
		height: auto;
	}

		img.baixo {
			margin: -25px 0px;
		}

	.campos {
		margin: 20px 0px;
	}

	p {
		margin: 0px;
		color: black;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	}
</style>
