@model DispositivoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cadastro de Dispositivo</h2>

<!-- <marquee behavior="alternate"> -->
<form action="SaveDispositivo" enctype="multipart/form-data" method="post" class="col-md-6">

    <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

    <label for="Id" class="control-label">Id</label>
    <input asp-for="Id" class="form-control" readonly />
    <span asp-validation-for="Id" class="text-danger"></span>
    <br />

    <label for="UnidadeId" class="control-label">Unidade Id</label>
    <input asp-for="UnidadeId" value="@ViewBag.UnidadeId" class="form-control" readonly />
    <span asp-validation-for="UnidadeId" class="text-danger"></span>
    <br />

    <label for="Modelo" class="control-label">Modelo</label>
    <input asp-for="Modelo" class="form-control" />
    <span asp-validation-for="Modelo" class="text-danger"></span>
    <br />

    <label for="Data de Instalação" class="control-label">Data de Instalação</label>
    <input asp-for="DataInstalacao" type="date" value="@Model.DataInstalacao.ToString("yyyy-MM-dd")" class="form-control" />
    <span asp-validation-for="DataInstalacao" class="text-danger"></span>

    <br />
    <input type="file" name="Imagem" id="Imagem" onchange="exibirImagem()" class="btn btn-secondary">
    <img id="imgPreview" src="data:image/jpeg;base64,@Model.ImagemEmBase64" class="img-responsive" width="200">
    <span asp-validation-for="Imagem" class="text-danger"></span>

    <br />
    <input type="submit" value="Salvar dados" class="btn btn-info" />
    <br />
</form>
